.form{
    padding-left: 2rem;
}
textarea{
    display: block;
}
.m{
    margin-left: 20%;
}

#job1{
    width: 40%;
   min-height: 35rem;
}
#job2{
    width: 60%;
    min-height: 35rem;
    background-color: aliceblue;
    border: 0.5px solid black;
    padding: 5px;
}
#job0{
    display:flex;
}
.h511{
    margin-left: 0 !important;
}

.box0{
    display: flex;
}
.mlp{
    margin-left: 70%;
}